<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tree List</title>
</head>

<body ontouchstart=""><!-- ontouchstart="" enables low-delay CSS transitions. -->

    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">{{#link-to "home"}}Home{{/link-to}}</li>
            <li role="presentation">{{#link-to "tours"}}Tours{{/link-to}}</li>
            <li role="presentation" class="active">{{#link-to "trees"}}Trees{{/link-to}}</li>
            <li role="presentation">{{#link-to "badges"}}Badges{{/link-to}}</li>
            <li role="presentation">{{#link-to "about"}}About{{/link-to}}</li>
            <li role="presentation">{{#link-to "settings"}}Settings{{/link-to}}</li>
          </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <h1>Tree List</h1>
    </div>

    
    <div>
        {{#each model as |tree|}}
            {{#link-to "treedetails" tree}}
                <a class="btn btn-info btn-bar" role="button">
                <img src="/assets/images/icons/Icon-HexTree.svg" height="50" width="50">
                {{tree.CommonName}}
                <p>{{tree.ScientificName}}</p>
                </a>
            {{/link-to}}
        {{else}}
            No Trees Found riperoo
        {{/each}}
    
    </div> <!-- /container -->
    
    
<!-- <ul>
    {{#each model as |tree|}}
        <p class="TreeListRow">{{#link-to "treedetails" tree}}{{tree.CommonName}}{{/link-to}}<img class="TreeListRowArrow" src="/assets/images/icons/arrow.png"></p>
    {{else}}
        No Trees Found riperoo
    {{/each}}
</ul>


<div>
<ul data-role="listview">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "badges"}}Badges{{/link-to}}</li>
</ul>    
</div> -->


</body>



{{outlet}}